:root {
  --color-primary: #ffc700;
  --color-primary-light: #ffeaa0;
  --color-black-dark: #191919;
  --color-black-light: #2e2e2e;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray-light: #dddddd;
  --color-gray-dark: #555555;
}

$color-primary: var(--color-primary);
$color-primary-light: var(--color-primary-light);
$color-black-dark: var(--color-black-dark);
$color-black-light: var(--color-black-light);
$color-black: var(--color-black);
$color-white: var(--color-white);
$color-gray-light: var(--color-gray-light);
$color-gray-dark: var(--color-gray-light);
