<dn-navbar></dn-navbar>
<main>
  <dn-hero></dn-hero>
  <dn-container>
    <dn-divider id="work">
      Work
    </dn-divider>
    <dn-work [work]="workAlpine"></dn-work>

    <dn-divider id="projects">
      Projects
    </dn-divider>
    <dn-project [images]="projectImagesSfr2" [data]="projectInfoSfr2"></dn-project>
    <dn-project [images]="projectImagesSfr1" [data]="projectInfoSfr1"></dn-project>
    <dn-project [images]="projectImagesPortfolio1" [data]="projectInfoPortfolio1"></dn-project>
    <dn-project [images]="projectImagesAirKoality" [data]="projectInfoAirKoality"></dn-project>
    <dn-project [images]="projectImagesPokeSurvey" [data]="projectInfoPokeSurvey"></dn-project>

    <dn-divider id="skills">
      Skills
    </dn-divider>
    <dn-skills [skills]="skills"></dn-skills>

    <dn-divider id="contact">
      Contact
    </dn-divider>
    <dn-contact></dn-contact>
  </dn-container>

  <dn-footer></dn-footer>
  <dn-scroll-to-top></dn-scroll-to-top>
</main>